/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  color: #ecb847;
}
html {
  font-size: 62.5%;
}
@media (max-width: 420px) {
  html {
    margin-top: 1rem;
    font-size: 6.25%;
  }
}
nav {
  font-size: 1.8rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  text-decoration: none;
}
@media (max-width: 420px) {
  nav {
    font-size: 23rem;
  }
}
@media (max-width: 420px) {
  nav a:hover {
    color: #e7a619;
  }
}
body {
  font-family: 'Archivo Narrow', sans-serif;
  font-style: normal;
  font-weight: normal;
  background: linear-gradient(rgba(24, 18, 18, 0.5), rgba(24, 18, 18, 0.5)), url(../images/FF_landing.png);
  background-repeat: no-repeat;
}
@media (max-width: 420px) {
  body {
    background: linear-gradient(rgba(24, 18, 18, 0.7), rgba(24, 18, 18, 0.7)), url(../images/foodism360-4-qDs0YzJH0-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}
.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  font-size: 4.8rem;
}
.questions h3 {
  margin: 1.5rem;
}
@media (max-width: 420px) {
  .questions {
    margin: 50rem;
    font-size: 30rem;
    text-align: center;
  }
  .questions h3 {
    margin: 1.5rem;
    margin-bottom: 20rem;
  }
}
.statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}
.statement h3 {
  font-size: 6rem;
  width: 105rem;
  line-height: 8.1rem;
  text-align: center;
}
.statement p {
  font-size: 2.4rem;
}
@media (max-width: 420px) {
  .statement h3 {
    font-size: 30rem;
    width: 80%;
    line-height: 40rem;
    text-align: center;
  }
  .statement p {
    font-size: 15rem;
  }
}
.bottom_part {
  margin-top: 3.5rem;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom_part #FoodieFun {
  font-weight: bold;
  font-size: 6rem;
  line-height: 8.1rem;
}
@media (max-width: 420px) {
  .bottom_part #FoodieFun {
    font-size: 40rem;
    line-height: 50rem;
  }
}
.bottom_part button {
  background-color: #c45228;
  border-radius: 0.3rem;
  width: 382px;
  height: 120px;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  border: none;
}
@media (max-width: 420px) {
  .bottom_part button {
    height: 92%;
    font-size: 20rem;
    width: 100%;
    line-height: 60rem;
  }
}
@media (max-width: 420px) {
  .bottom_part button:hover {
    background-color: #af4924;
  }
}
.bottom_part #tail {
  font-weight: 50rem;
  font-size: 7.2rem;
  line-height: 9.7rem;
}
@media (max-width: 420px) {
  .bottom_part #tail {
    font-size: 20rem;
    line-height: 20rem;
  }
}
@media (max-width: 420px) {
  .bottom_part {
    margin-top: 30rem;
  }
}
