/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  color: #ecb847;
}
html {
  font-size: 62.5%;
}
@media (max-width: 500px) {
  html {
    font-size: 6.25%;
  }
}
.active {
  display: none;
}
.icon {
  display: none;
}
nav {
  width: 100%;
  font-size: 1.8rem;
  margin-top: 2.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  text-decoration: none;
}
nav :hover {
  color: #e7a619;
}
@media (max-width: 500px) {
  .topnav {
    overflow: hidden;
    background-color: #a24421;
    position: relative;
  }
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  .topnav #myLinks a {
    border-bottom: 2px solid black;
    color: #eec15e;
  }
  /* Style navigation menu links */
  .topnav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    color: #ecb847;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
  }
  /* Style the hamburger menu */
  .topnav a.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    background: #c45228;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 48px;
    margin-top: 0;
  }
  a.icon:hover {
    color: #e7a619;
  }
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #c45228;
    color: #ecb847;
  }
  /* Style the active link (or home/logo) */
  .active {
    background-color: #c45228;
    color: #ecb847;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
  }
}
body {
  width: 100%;
  font-family: 'Archivo Narrow', sans-serif;
  font-style: normal;
  font-weight: normal;
  background: linear-gradient(rgba(24, 18, 18, 0.5), rgba(24, 18, 18, 0.5)), url(../images/FF_landing.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
@media (max-width: 500px) {
}
.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  margin: 5%;
  font-size: 4.8rem;
  line-height: 6.5rem;
}
.questions h3 {
  margin: 1.5%;
}
@media (max-width: 500px) {
  .questions {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin-top: 69px;
  }
  .questions h3 {
    margin: 1.5rem;
    margin-bottom: 20rem;
  }
}
.statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  font-weight: bold;
  margin: auto 13.1944444% auto 13.1944444%;
  width: 73.6111111%;
}
.statement h3 {
  font-size: 6rem;
  line-height: 8.1rem;
}
.statement p {
  font-size: 2.4rem;
}
@media (max-width: 500px) {
  .statement {
    width: 95.6%;
    margin: auto 2.17% auto 2.17%;
  }
  .statement h3 {
    font-size: 24px;
    line-height: 32px;
  }
  .statement p {
    font-size: 15rem;
  }
}
.bottom_part {
  margin: 3.5% auto 6.11111111% auto;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}
.bottom_part #FoodieFun {
  font-weight: bold;
  font-size: 6rem;
  line-height: 8.1rem;
}
@media (max-width: 500px) {
  .bottom_part #FoodieFun {
    margin: 49px 3.86% 28px 3.86%;
    font-size: 60rem;
    line-height: 50rem;
  }
}
.bottom_part button {
  margin-top: 1.5rem;
  background-color: #c45228;
  border-radius: 0.3%;
  width: 38.2rem;
  height: 12rem;
  margin-bottom: 1.5rem;
  border: none;
  line-height: 4rem;
  font-size: 3rem;
}
.bottom_part button a {
  left: 24.61%;
  right: 24.87%;
  top: 37.5%;
  bottom: 36.67%;
  font-weight: 500;
  font-size: 3rem;
  line-height: 4rem;
  border-radius: 0.35rem;
  text-decoration: none;
}
@media (max-width: 500px) {
  .bottom_part button {
    height: 120px;
    width: 92.27%;
    line-height: 40rem;
    border-radius: 1.5%;
    margin: auto 3.86% 28px 3.86%;
  }
  .bottom_part button a {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 500px) {
  .bottom_part button:hover {
    background-color: #af4924;
  }
}
.bottom_part #tail {
  font-weight: 500;
  font-size: 7.2rem;
  line-height: 9.7rem;
  margin: auto 5% auto 5%;
}
@media (max-width: 500px) {
  .bottom_part #tail {
    font-size: 30px;
    line-height: 40px;
  }
}
.about-header {
  margin: 3rem;
  margin-top: 5rem;
  font-size: 10rem;
  font-weight: bolder;
}
@media (max-width: 500px) {
  .about-header {
    margin: 20rem;
    font-size: 55rem;
    font-weight: bolder;
    text-align: center;
  }
}
.devs-set {
  width: 100%;
  margin: 1%;
  padding: 1%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  .devs-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
  }
}
.dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  line-height: 5rem;
  margin: 3%;
  padding: 4%;
  border: 1rem solid #eec15e;
  border-radius: 10rem;
}
.dev .dev_img {
  border-radius: 10rem;
  max-block-size: 40%;
  width: 100%;
  max-height: 50%;
}
@media (max-width: 500px) {
  .dev .dev_img {
    border-radius: 10rem;
    max-block-size: 40%;
    width: 100%;
    max-height: 50%;
  }
}
.dev .name {
  font-size: 5rem;
  text-align: center;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  .dev .name {
    font-size: 40rem;
    line-height: 50rem;
  }
}
.dev p {
  font-size: 3rem;
  text-align: center;
}
@media (max-width: 500px) {
  .dev p {
    font-size: 15rem;
    line-height: 50rem;
  }
}
.dev .describer {
  color: #c45228;
  line-height: 5rem;
}
@media (max-width: 500px) {
  .dev .describer {
    font-size: 15rem;
    font-weight: bold;
    line-height: 15rem;
  }
}
.dev .soc-med {
  text-align: center;
  font-size: 4rem;
  vertical-align: bottom;
}
@media (max-width: 500px) {
  .dev .soc-med {
    text-align: center;
    font-size: 30rem;
    margin-top: 20rem;
  }
}
@media (max-width: 500px) {
  .dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    line-height: 15rem;
    margin: 15rem;
    margin-bottom: 100rem;
    border: 5px solid #ecb847;
    border-radius: 40rem;
    padding: 30rem;
  }
}
