.about-header {
  margin: 3rem;
  margin-top: 5rem;
  font-size: 10rem;
  font-weight: bolder;
}

.dev_img {
  border-radius: 5rem;
  max-block-size: 40rem;
}

.devs-set {
  .wrap-justify-align(space-around, center);
}

.dev {
  .direction-align(column, center);
  margin: 3rem;
  padding: 4rem;
  border: 10px solid lighten(@textCol, 5%);
  border-radius: 10rem;

  .name {
    font-size: 5rem;
    text-align: center;
  }

  p {
    font-size: 3rem;
    text-align: center;
  }

  .soc-med {
    text-align: center;
    font-size: 4rem;
    vertical-align: bottom;
    // :hover {
    //   border: 2px groove lighten(@textCol, 5%);
    //   border-radius: 0.5rem;
    // }
  }
}
