body {
  background-image: url(../images/FF_landing.png);
  background-repeat: no-repeat;
  font-family: 'Archivo Narrow', sans-serif;
  color: #ecb847;
}

.questions {
  .column-centered();
  margin: 5rem;
  font-size: 4.8rem;
  h3 {
    font-style: normal;
    font-weight: normal;
    margin: 1.5rem;
  }
}

.statement {
  .column-centered();
  font-weight: bold;
  font-style: normal;
  h3 {
    font-size: 6rem;
    width: 105rem;
    line-height: 8.1rem;
    line-height: 8.1rem;
    text-align: center;
  }
  p {
    font-size: 2.4rem;
  }
}

.bottom_part {
  margin-top: 3.5rem;
  font-size: 5rem;
  .column-centered();

  #FoodieFun {
    font-style: normal;
    font-weight: bold;
    font-size: 6rem;
    line-height: 8.1rem;
  }

  button {
    background-color: #c45228;
    border-radius: 0.3rem;
    color: #ecb847;
    width: 382px;
    height: 120px;

    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }

  #tail {
    font-style: normal;
    font-weight: 50rem;
    font-size: 7.2rem;
    line-height: 9.7rem;
  }
}
