.justify-align(@justify,@align) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.direction-align(@direction,@align) {
  display: flex;
  flex-direction: @direction;
  align-items: @align;
}
