nav {
  width: 100%;
  font-size: 1.8rem;
  margin-top: 3rem;
  .justify-align(space-around, center);
  a {
    text-decoration: none;
  }
  @media @mobile {
    .direction-align(column, center);
    font-size: 30rem;
    line-height: 100%;
  }

  a:hover {
    @media @mobile {
      color: darken(@textCol, 10%);
    }
  }
}
